body {
  background: #ECEFF1;
  color: rgba(0,0,0,0.87);
  font-family: Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 100px 0px 100px;
}
.inlined-code {
  background: #f1f1f1;
  color: black;
  border-radius: 3px;
}
.inlined-math-svg {
  vertical-align: middle
}
.expandable-block-button:after {
  content: '\02795';
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}
.expandable-block-button {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}
.active-expandable-block-button, .expandable-block-button:hover {
  background-color: #555;
}
.active-expandable-block-button:after {
  content: '\02796';
}
.expandable-block-content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  background-color: #e0e0e0;
  transition: max-height 0.2s ease-out;
}
.segment-questions {
  background: #ddd;
  max-width: 80%;
  margin: 16px auto 16px;
  padding: 32px 24px;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.segment-answers {
  background: #eee;
  margin: 16px auto 16px;
  padding: 32px 24px;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.multi-choice-answer-correct, .multi-choice-answer-wrong, .choice-answer-correct, .choice-answer-wrong {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
  border-radius: 8px;
  padding: 0px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 8px;
  transition-duration: 0.4s;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.active-choice-answer, .active-multi-choice-answer{
  background-color: #4CAF50;
  color: white;
}
.choice-answer-correct:hover, .choice-answer-wrong:hover, .multi-choice-answer-correct:hover, .multi-choice-answer-wrong:hover {
  background-color: #6CCF70;
  color: white;
}
.choice-explanation-correct, .choice-explanation-wrong, .multi-choice-explanation-correct, .multi-choice-explanation-wrong{
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  background-color: #f1f1f1;
  transition: max-height 0.2s ease-out;
}
.choice-ready-button-active, .choice-ready-button, .multi-choice-ready-button  {
  border-radius: 8px;
  padding: 5px 5px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 8px;
  transition-duration: 0.4s;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.choice-ready-button {
  background-color: #888;
  color: #777;
  border: 2px solid #888;
}
.multi-choice-ready-button, .choice-ready-button-active {
  background-color: #777;
  color: black;
  cursor: pointer;
  border: 2px solid #777;
}
.multi-choice-ready-button:hover, .choice-ready-button-active:hover {
  background-color: #555;
}
.segment-buttons {
  background: white;
  max-width: 80%;
  margin: 16px auto 16px;
  padding: 32px 24px;
  border-radius: 3px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.segment-buttons{
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.segment-buttons a {
  flex-grow: 1;
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
  border-radius: 8px;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 8px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.segment-buttons a:hover {
  background-color: #4CAF50;
  color: white;
}
.segment-markdown {
  background: white;
  max-width: 80%;
  margin: 0px auto 0px;
  padding: 32px 24px;
  border-radius: 3px;
}
.segment-markdown h2 {
  color: #ffa100;
  font-weight: bold;
  font-size: 16px;
  margin: 0 0 8px;
}
.segment-markdown h1 {
  font-size: 22px;
  font-weight: 300;
  color: rgba(0,0,0,0.6);
  margin: 0 0 16px;
}
.segment-markdown p {
  line-height: 140%;
  margin: 16px 0 24px;
  font-size: 14px;
}
.graph-svg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#load {
  color: rgba(0,0,0,0.4);
  text-align: center;
  font-size: 13px;
}
@media (max-width: 600px) {
  body, .segment-markdown {
    margin-top: 0;
    background: white;
    box-shadow: none;
  }
  body {
    border-top: 16px solid #ffa100;
  }
}