<footer class="site-footer h-card">
    <data class="u-url" href="{{ "
    /" | relative_url }}"></data>

    <div class="wrapper">
        <div class="site-footer-inner">
            <div class="row">
                <div class="column">
                    <h4>Impressum</h4>
                    <div>
                        Angaben gemäß § 5 TMG <br>
                        Fabian Moss <br>
                        „lokale Versammlung Nürnberg“ <br>
                        Virchowstr. 27 <br>
                        90409 Nürnberg <br>
                    </div>
                    <h4>Vertreten durch:</h4>
                    <div>
                        Fabian Moos
                    </div>
                </div>
                <div class="column">
                    <h4>Kontakt:</h4>
                    <div>
                        Telefon: 01234 <br>
                        E-Mail: max@muster.de <br>

                        Verantwortlich für den Inhalt nach § 18 MStV: <br>

                        Fabian Moos <br>
                        „lokale Versammlung Nürnberg“ <br>
                        Virchowstr. 27 <br>
                        90409 Nürnberg <br>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column" style="margin: 10px 10px 10px 0px;">
                    <h4>Haftungsausschluss:</h4>
                    <div>
                        Haftung für Links <br>
                        <br>
                        Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einfluss
                        haben.
                        Deshalb können wir für diese fremden Inhalte keine Gewähr übernehmen. Für die Inhalte der
                        verlinkten
                        Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten
                        Seiten
                        wurden auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der
                        Verlinkung
                        nicht erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist ohne konkrete
                        Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen
                        werden
                        wir
                        derartige Links umgehend entfernen.
                    </div>
                </div>
                <div class="column" style="margin: 10px 10px 10px 0px;">
                    <h4>Datenschutz</h4>
                    <div>
                        Die Nutzung unserer Webseite ist ohne Angabe personenbezogener Daten möglich. Soweit auf unseren
                        Seiten
                        personenbezogene Daten (beispielsweise Name, Anschrift oder E-Mail-Adressen) erhoben werden, erfolgt
                        dies stets auf freiwilliger Basis. Diese Daten werden ohne Ihre ausdrückliche Zustimmung nicht an
                        Dritte
                        weitergegeben.<br><br>
                        Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per E-Mail)
                        Sicherheitslücken aufweisen kann. Ein vollständiger Schutz der Daten vor dem Zugriff durch Dritte
                        ist
                        nicht möglich.
                    </div>
                </div>
            </div>
            <div>Powered by <a title="Jekyll is a simple, blog-aware, static site
      generator." href="https://jekyllrb.com/">Jekyll</a> &amp; <a title="Yat, yet
      another theme." href="https://github.com/jeffreytse/jekyll-theme-yat">Yat Theme</a>.
            </div>
            <div class="footer-col rss-subscribe">Subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></div>
        </div>
    </div>
</footer>